@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&diplay=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');

/* START DEFAULTS */

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

body {
    overflow-x: hidden;
    background: linear-gradient(#010122, #000222, #030128, #05002d, #080030, #0b0037, #140046, #17014f, #260164, #310377, #621bb9);
    min-height: 100vh;
}

p {
    font-size: 0.20em;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6, h7 {
    color: white
}

.default-background {
    background: linear-gradient(#010122, #000222, #030128, #05002d, #080030, #0b0037, #140046, #17014f, #260164, #310377, #621bb9);
}


.default-background-black {
    background: linear-gradient(to bottom, #621bb9 -1%, #010122 100%);
}

.default-background-black-to-purple {
    background: linear-gradient(to bottom, #010122 -1%, #621bb9 100%);
}

.container {
    width: 100%;
}

.white {
    background: white !important;
}

.black {
    background: black !important;
}

.p-color-default {
    color: #fff !important;
    /* font-family: 'Poppins', sans-serif; */
}

/* END DEFAULTS */

/* START DISPLAYS */

.display-flex {
    display: flex;
}

.justify-content-end {
    justify-content: end;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space-evenly {
    justify-content: space-evenly;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-space-around {
    justify-content: space-around;
}

.flex-direction-column {
    flex-direction: column;
}

.flex-direction-column-reverse {
    flex-direction: column-reverse;
}

.align-items-start {
    align-items: start;
}

.align-items-center {
    align-items: center;
}

.align-items-end {
    align-items: end;
}

.text-center {
    text-align: center;
}

/* END DISPLAYS */

/* START LIMITS AND MIN*/

/* %%%%% */

.min-width-100 {
    min-width: 100%;
}

.limit-width-50 {
    max-width: 50%;
}

.limit-width-25 {
    max-width: 25%;
}

.limit-width-75 {
    max-width: 75%;
}

.min-width-50 {
    min-width: 50%;
}

.min-width-25 {
    min-width: 25%;
}

.min-width-75 {
    min-width: 75%;
}

.limit-height-50 {
    max-height: 50%;
}

.limit-height-25 {
    max-height: 25%;
}

.limit-height-75 {
    max-height: 75%;
}

.min-height-50 {
    min-height: 50%;
}

.min-height-25 {
    min-height: 25%;
}

.min-height-75 {
    min-height: 75%;
}

/* %%%%%%% */

/* REM */

.min-height-2-rem {
    min-height: 2rem;
}

/* END LIMITS */

/* START HEADER */

#header {
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    background: transparent;
    backdrop-filter: blur(20px);
}

#header .logo {
    color: white;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}

.logo-fabinho-designs {
    width: 20rem;
}

#header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

#header ul li {
    list-style: none;
    margin-left: 20px;
}

#header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: white;
    border-radius: 20px;
}

#header ul li a:hover,
#header ul li a.active {
    background: white;
    color: #000222;
    transition: all .4s;
}

/* END HEADER */

/* BUTTONS */

.button-whatsapp a {
    background-color: white;
    color: #000222 !important;
    padding: 8px 18px;
    border-radius: 20px;
    font-size: 20px;
}

/* END BUTTONS */

/* ALL CENTER */

.all-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* END ALL CENTER */

/* START SECTIONS */

section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(#0002, #010122);
    z-index: 10;

}

section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    object-fit: cover;
}

section #text {
    position: absolute;
    color: white;
    font-size: 10vw;
    text-align: center;
    line-height: 0.55;
    font-family: 'Rancho', cursive;
    transform: translateY(-50%);
}

section #text span {
    font-size: 0.20em;
    letter-spacing: 2px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

section img#moon {
    width: 200px;
    height: 200px;
    left: 60vw;
    top: 5rem !important;
}

/* END SECTIONS */

/* START ELEMENTS */

#btn {
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    background: #fff;
    color: #094b65;
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 2px;
    border-radius: 40px;
    transform: translateY(100px);
}

.sec {
    position: relative;
    padding: 100px 130px;
    background: linear-gradient(#010122, #000222, #030128, #05002d, #080030, #0b0037, #140046, #17014f, #260164, #310377, #621bb9);
}

.sec-footer {
    position: relative;
    padding: 25px;
    background: linear-gradient(#010122, #000222, #030128, #05002d, #080030, #0b0037, #140046, #17014f, #260164, #310377, #621bb9);
}

.sec h2 {
    font-size: 3.5em;
    color: #fff;
    margin-bottom: 10px;
}

.sec p {
    font-size: 1em;
    color: #fff;
}

/* END ELEMENTS */

/* IMAGES */

.img-sections {
    width: 30rem;
    height: 30rem;
    border-radius: 50px;
}

.img-sections2 {
    width: 25rem;
    height: 30em;
    border-radius: 25px;
}

/* END IMAGES */

/* START GRIDS */

.grid {
    display: grid;
}

.grid-template-column {
    grid-template-columns: 1fr 1fr 1fr;
}

/* END GRIDS */

/* FOOTER */

footer {
    background: var(--base-color);
}

footer.section {
    padding: 4rem 0;
}

footer .logo {
    display: inline-block;
    margin-bottom: 1.5rem;
}

footer .brand p {
    color: var(--text-color-light);
    margin-bottom: 0.75rem;
}

footer i {
    font-size: 1.5rem;
    color: var(--text-color-light);
}

footer .social {
    grid-auto-flow: column;
    width: fit-content;
}

footer .social a {
    transition: 0.3s;
    display: inline-block;
}

footer .social a:hover {
    transform: translateY(-8px);
}


/* START CARDS */

.card {
    padding: 3.625rem 2rem;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
    border-bottom: 0.25rem solid var(--base-color);
    border-radius: 0.25rem 0.25rem 0 0;
    text-align: center;
}

.images-cards {
    border-radius: 10px;
    width: 14.5rem;
}

.cards.grid {
    gap: 1.5rem;
}

/* END CARDS */